/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

/*COLORS:   
$nyanza: rgba(216, 243, 220, 1);
$turquoise-green: rgba(183, 228, 199, 1);
$turquoise-green-2: rgba(149, 213, 178, 1);
$ocean-green: rgba(116, 198, 157, 1);
$ocean-green-2: rgba(82, 183, 136, 1);
$illuminating-emerald: rgba(64, 145, 108, 1);
$bottle-green: rgba(45, 106, 79, 1);
$brunswick-green: rgba(27, 67, 50, 1);
$dark-jungle-green: rgba(8, 28, 21, 1);
*/

body{
  margin: 0 auto;
}

/*GENERIC*/
.left{
  float: left;
}

.right{
  float: right;
}


.Font1{
  font-family: 'Comic Neue', cursive;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.whiteText{
  color: rgba(216, 243, 220, 1);
  display: inline-block;  
}


/*SPECIAL*/

.topnav{
  background-color: rgba(27, 67, 50, 1);
  overflow: hidden;
  height: 7vh;
  width: 100vw;
  position: fixed;
  vertical-align: top;
  z-index: 999;
}

.topnav a{
  float: left;
  color: rgba(216, 243, 220, 1);
  text-align: center;
  padding: 2.1vh 2vw;
  text-decoration: none;
  height: 4.375vh;
  font-size: 3.5vh;
  line-height: 3.5vh;
  font-family: 'Comic Neue', cursive;
  transition: .3s ease-in-out;
}

.topnav a:hover{
  background-color: rgba(183, 228, 199, 1);
  color:rgba(8, 28, 21, 1);
  transition: .3s ease-in-out;
}

.topnav a:active{
  background-color: #04AA6D;
  color: rgba(216, 243, 220, 1);
  transition: .3s ease-in-out;
}

img.navIcon{
  display: block;
  margin-top: auto;
  margin-bottom: auto;

  width: 4vw;
  height: 4vh;
}



.parallax {
  background-image: url("../../Resources/Images/achtergrond-website.jpg");

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Inleiding{
  background-image: linear-gradient(to bottom left, rgba(64, 145, 108, .6), rgba(27, 67, 50, .6));
  backdrop-filter: blur(32px);
  padding-top: 0vh;
  padding-bottom: 0vh;
  margin-top: 20vh;
  font-size: 5.3vh;
  transition: .5s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}

.Inleiding h2{
  font-weight: 500;
  font-size: 8vh;
  height: 2.5vh;
}


.Inleiding:hover{
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 5vh;
  padding-bottom: 5vh;
  transition: .5s ease-in-out;
}

.Inhoud{
  margin-top: 10vh;
}

.linkTable{
  border-collapse: separate;
  border-spacing: 15px;

}

.linkTable td{
  width: 50vw;
  height: 20vh;

  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;

  background-image: linear-gradient(to bottom left, rgba(64, 145, 108, .6), rgba(27, 67, 50, .6));
  backdrop-filter: blur(15px);

  box-shadow: 0px 0px 4px 4px rgba(27, 67, 50, 1);

  color: rgba(216, 243, 220, 1);
  transition: .3s ease-in-out;

}

.linkTable td:hover{
  background-color: rgba(64, 145, 108, .7);
    box-shadow: 0px 0px 4px 4px rgba(45, 106, 79, .7);

  transition: .3s ease-in-out;

}

.linkTable a
{
    color: rgba(216, 243, 220, 1);
    text-decoration: none;

    width: 100%;
    height: 100%;
    display: block;
    
}

.linkTable h2{
  font-size: 5vh;
  font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.linkTable p{
  font-size: 3.2vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.content{
  background-image: linear-gradient(to bottom left, rgba(64, 145, 108, .6), rgba(27, 67, 50, .4));
  backdrop-filter: blur(15px);

  align-items: stretch;
  overflow: hidden;
}

.footer{
  height: 35vh;
  background-color: #333;
  color: white;
}

#ERROR404{
  color: rgb(218, 47, 47);
  font-size: 15vh;

  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

  


  text-align: center;

  font-family: 'Calistoga', cursive;
}