/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,700;1,300&display=swap');

/*COLORS:   
$nyanza: rgba(216, 243, 220, 1);
$turquoise-green: rgba(183, 228, 199, 1);
$turquoise-green-2: rgba(149, 213, 178, 1);
$ocean-green: rgba(116, 198, 157, 1);
$ocean-green-2: rgba(82, 183, 136, 1);
$illuminating-emerald: rgba(64, 145, 108, 1);
$bottle-green: rgba(45, 106, 79, 1);
$brunswick-green: rgba(27, 67, 50, 1);
$dark-jungle-green: rgba(8, 28, 21, 1);
*/


.button{
  border-radius: 15px;
  box-shadow: 0px 0px 4px 4px rgba(27, 67, 50, 1);
  background-color: rgba(45, 106, 79, 0.8);
  backdrop-filter: blur(4px);

  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  transition: .3s ease-in-out;

}

.button:hover{
  background-color: rgba(45, 106, 79, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(64, 145, 108, 1);


  transition: .3s ease-in-out;
}

.button:active{
  background-color: rgba(27, 67, 50, 0.6);
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 4px 6px rgba(27, 67, 50, 1);


  transition: .1s ease-in-out;
}

body{
  margin: 0 auto;
}

/*GENERIC*/
.left{
  float: left;
}

.right{
  float: right;
}

.textblock{
  color:white;
  display: inline-block;  

}

.Font1{
  font-family: 'Comic Neue', cursive;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

/*SPECIAL*/

.topnav{
  background-color: rgba(27, 67, 50, 1);
  overflow: hidden;
  height: 8vh;
  width: 100vw;
  position: fixed;
  vertical-align: top;

}

.topnav a{
  float: left;
  color: rgba(216, 243, 220, 1);
  text-align: center;
  padding: 2.1vh 2vw;
  text-decoration: none;
  height: 5vh;
  font-size: 4vh;
  line-height: 4vh;
  font-family: 'Comic Neue', cursive;
  transition: .3s ease-in-out;
}

#active{
  background-color: rgba(183, 228, 199, 1);
  color:rgba(8, 28, 21, 1);
  transition: .3s ease-in-out;
}

.topnav a:hover{
  background-color: rgba(183, 228, 199, 1);
  color:rgba(8, 28, 21, 1);
  transition: .3s ease-in-out;
}

.topnav a:active{
  background-color: #04AA6D;
  color: white;
  transition: .3s ease-in-out;
}

img.navIcon{
  display: block;
  margin-top: auto;
  margin-bottom: auto;

  width: 4vw;
  height: 4vh;
}



.parallax {
  background-image: url("../../Resources/Images/achtergrond-website.jpg");

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  align-items: center;
  overflow: hidden;
}

.footer{
  height: 35vh;
  background-color: #333;
  color: white;
}

.MonkImg{
  margin-top: 10vh;
  margin-bottom: 2vh;
  height: 50vh;
  outline: rgba(45, 106, 79, 1) solid 2px;
  box-shadow: 0px 0px 10px 1.5vh #52B788;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.WeetjeTitle{
  font-size: 4vh;
  font-style: normal;
}

.WeetjesText{
  font-style: italic;
  animation: none .2s linear 0s infinite;
  padding-top: 4vh;
  padding-bottom: 4vh;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 6vh;
  color:rgba(183, 228, 199, 1);
  text-align: center;

  height: 18vh;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 4px rgba(27, 67, 50, 1);
  background-image: linear-gradient(to bottom left, rgba(64, 145, 108, .8), rgba(27, 67, 50, .8));
  backdrop-filter: blur(15px);
}


.NextButton{
  position: absolute;
  bottom: 1.2vh;
  left: 30vw;
  width: 40vw;
  display: block;
  font-size: 5vh;
  color:rgba(183, 228, 199, 1);
  margin-top: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;

}

.artParent{
  height: 0vh;
  width: 0vh;
}

.Frog1{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translate(13vw, -48vh);

  padding-right: 2.5vw;
  padding-left: 2vw;
  padding-bottom: 8vh;
  border-radius: 100px;
  
}

.Frog2{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translate(73vw, -48vh);

  padding-left: 2.5vw;
  padding-right: 2vw;
  padding-bottom: 8vh;
  border-radius: 100px;
  
}

.head{
  animation-name: headBounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  display: flex;

  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 6vw; 
  height: 10vh;
  background: rgba(64, 145, 108, 1);
  background-image: radial-gradient(closest-side,  rgba(64, 145, 108, 1) 75%, rgba(45, 106, 79, 1));
  border-radius: 10vh;

  z-index: 3;
}

.halo{
  height: 10vh;
  width: 10vh;
  background-image: radial-gradient(closest-side,  rgba(0,0,0,0) 70%, #ffbf00);
  border-radius: 99999999999px;
  animation-name: haloBounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  transform: rotateX(70deg);
}

@keyframes haloBounce{
  0%{
      transform: translateY(-1vh) rotateX(70deg);

  }
  50%{
      transform: translateY(2vh) rotateX(70deg);

  }
  100%{
    transform: translateY(-1vh) rotateX(70deg);

  }
}

.eyes1{
  height: 2.2vw;
  width: 2.2vw;
  background: rgba(0, 0, 0, 1);
  border: 5px solid rgba(64, 145, 108, 1);

  border-radius: 999999vh;
  transform: translate(-0.8vw, -2vh);
}
.eyes2{
  height: 2.2vw;
  width: 2.2vw;
  background: rgba(0, 0, 0, 1);
  border: 5px solid rgba(64, 145, 108, 1);
  border-radius: 999999vh;
  transform: translate(0.8vw, -2vh);

}

.eyeSparkle{
  height: 0.6vw;
  width: 0.6vw;
  background: rgba(255, 255, 255, 1);
  
  border-radius: 999999vh;

    transform: translate(0.5vh, 1vh);

}

.mouth{
  height: 0.4vw;
  width: 5vw;
  background: rgba(0, 0, 0, 1);
  border: 3px solid rgba(45, 106, 79, 1);
  transform: translate(0vh, -1vh);
  border-radius: 0px 0px 20px 20px;

}

.eyeSparkle2{
  height: 1vw;
  width: 1vw;
  float: right;
  background: rgba(255, 255, 255, 1);
  transform: translate(-0.5vh, 0.8vh);

  border-radius: 999999vh;
}

@keyframes bodyBounce{
  0%{
      transform: translateY(0vh);
  }
  50%{
      transform: translateY(2vh);
  }
  100%{
    transform: translateY(0vh);
  }
}

@keyframes headBounce{
  0%{
      transform: translateY(0vh) skew(0deg);
  }
  33%{
    transform: translateY(1.32vh) skew(4deg);
  }
  50%{
      transform: translateY(2vh) skew(0deg);
  }
  66%{
    transform: translateY(1.32vh) skew(-4deg);
  }
  100%{
    transform: translateY(0vh) skew(0deg);
  }
}


.body{
  animation-name: bodyBounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  width: 10vw; 
  height: 15vh;
  background: rgba(64, 145, 108, 1);
    background-image: linear-gradient(to bottom, rgba(64, 145, 108, 1), rgba(45, 106, 79, 1), rgba(27, 67, 50, 1));

  border-radius: 20vh;

  display: flex;
  align-items: flex-end;

  z-index: 3;
}

.foot1{
  animation-name: feet1Bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  float: left;
  width: 3vw;
  height: 10vh;
  background-image: linear-gradient(to bottom, rgba(27, 67, 50, 1) 0%, rgba(45, 106, 79, 1) 70%,   rgba(64, 145, 108, 1) 100%);

  transform: rotate(30deg) translate(-1.5vh, 3vh);

clip-path: polygon(50% 0%, 80% 5%, 100% 25%, 100% 70%, 80% 90%, 64% 80%, 48% 100%, 32% 80%, 16% 90%, 0% 70%, 0 25%, 20% 5%);
}

.foot2{
  animation-name: feet2Bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  float: left;
  width: 3vw;
  height: 10vh;
  background-image: linear-gradient(to bottom, rgba(27, 67, 50, 1) 0%, rgba(45, 106, 79, 1) 70%,   rgba(64, 145, 108, 1) 100%);

  transform: translate(5vw, 2vh) rotate(-30deg);

clip-path: polygon(50% 0%, 80% 5%, 100% 25%, 100% 70%, 80% 90%, 64% 80%, 48% 100%, 32% 80%, 16% 90%, 0% 70%, 0 25%, 20% 5%);
}

@keyframes feet1Bounce{
  0%{
      transform: rotate(30deg) translate(-1.5vh, 3vh);
  }
  33%{
  }
  50%{
      transform: rotate(45deg) translate(-1.5vh, 3vh);
  }
  66%{
  }
  100%{
      transform: rotate(30deg) translate(-1.5vh, 3vh);
  }
}

@keyframes feet2Bounce{
  0%{
      transform: translate(5vw, 2vh) rotate(-30deg);
  }
  33%{
  }
  50%{
      transform: translate(5vw, 2vh) rotate(-45deg);
  }
  66%{
  }
  100%{
      transform: translate(5vw, 2vh) rotate(-30deg);
  }
}




